// VARIABLES

  // COLOURS

    // BLACK AND WHITE

      @blk-dk:            rgb(0,0,0);
      @blk-md:            rgb(32,32,32);
      @blk-lt:            rgb(64,64,64);

      @blk-dk-tr:         rgba(0,0,0,.5);
      @blk-md-tr:         rgba(32,32,32,.5);
      @blk-lt-tr:         rgba(64,64,64,.5);

      @gry-dk:            rgb(96, 96, 96);
      @gry-md:            rgb(128, 128, 128);
      @gry-lt:            rgb(160, 160, 160);

      @gry-dk-tr:         rgba(96, 96, 96, .5);
      @gry-md-tr:         rgba(128, 128, 128, .5);
      @gry-lt-tr:         rgba(160, 160, 160, .5);

      @wht-dk:            rgb(192, 192, 192);
      @wht-md:            rgb(224, 224, 224);
      @wht-lt:            rgb(256, 256, 256);
      
      @wht-dk-tr:         rgba(192, 192, 192, 0.7);
      @wht-md-tr:         rgba(224, 224, 224, 0.7);
      @wht-lt-tr:         rgba(256, 256, 256, 0.7);
    

    // OTHER COLOURS

      @red-dk:            #900;
      @red-lt:            #c33;

      @grn-dk:            #033;
      @grn-lt:            #366;

      @prp-lt:            #939;
      @prp-dk:            #606;

      @org-lt:            #c60;
      @org-dk:            #930;



    

// SITE 

  section {
    background: url(../img/site.jpg) 50% 0 no-repeat;
    width: 100%;
    height: 1183px;
  }

  article {
    width: 940px;
    margin: auto;
    margin-top: 106px;
  }

// SPLASH 

  .splash-manual {
    width: 620px;
    height: 400px;
    overflow-y: hidden;
    float: left;
    clear: both;
    

    *, *:before, *:after { box-sizing: border-box;}

    a {
      display: block;
      width: 100%;
      height: 440px;
      background-color: @blk-dk-tr;
      position: relative;

      .gradient {
        width: 100%;
        height: 440px;
        background: url(../img/gradient620.png) top left repeat-y;
        z-index: 10;
        position: absolute;
      }

      .splash-teaser {
        background-color: @wht-lt-tr;
        float: right;
        padding: 0 10px;
        transition: all .2s ease-in-out;
        z-index: 100;
        position: absolute;

        strong {
          color: @red-md;
          text-transform: uppercase;
          margin-right: 4px;
        }

        h1 {
          color: @blk-lt;
          border-left: thick solid @red-dk;
          padding: 10px 0 0 20px;
          margin-left: -15px;
          transition: all .2s ease-in-out;
        }

        p {
          color: @blk-lt;
          line-height: 1.4;
          padding: 10px;
        }
      }

      img {
        // transition: all 5s ease-in-out;
        position: absolute;
        top: -50px;
        // width: 50%;
      }



      &:hover {

        .splash-teaser {
          background-color: @wht-lt;

          h1 {
            color: @blk-dk;
            border-left: thick solid @red-md;
          }

          
        }

        img {
          // top: -40px;
        }
      }


      img {
        position: absolute;
        
        z-index: 1;
        // transition: all 5s ease-in-out;
      } 
    }
  }

  .right {

    a {
      
      .splash-teaser {
        margin: 20px 20px 0 300px;

        h1 {
          font-size: 60px;
          line-height: 1;
        }

        p {
          font-size: 16px;
        }
      }

      img {
        width: 100%;
        left: -20%;
        top: 0;
        
      }

      &:hover {
        
        img {
          
        }
      }


    }
  }

  .news {

  }


